.sentUserName {
  color: blue;
}

.sentMessage {
  color: blue;
}

.sentBubble {
  margin-top: 5px;
  margin-left: 250px;
  background-color: #67cae9;
  border-radius: 10px;
  padding: 10px;
  max-width: 220px;
  word-wrap: break-word;
}

.receivedUserName {
  color: red;
}

.receivedMessage {
  color: red;
}

.receivedBubble {
  margin-top: 5px;
  background-color: #a7a2a2;
  border-radius: 10px;
  padding: 10px;
  max-width: 220px;
  margin-left: 5px;
  word-wrap: break-word;
}
