.link {
  margin-left: 25px;
  text-decoration: none;
  color: white;
}

.logout-button {
  margin-left: 25px;
  padding: 0%;
  text-decoration: none;
  color: white;
  margin-top: -2px;
}

/* Small devices (screens, 992px and down) */
@media only screen and (max-width: 991px) {
  .logout-button {
    padding: 0%;
    text-decoration: none;
    color: white;
    margin-top: -1px;
    float: left;
    margin-left: 12px;
  }
}
